@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
    h1 {
        @apply font-bold;
        @apply text-darkBlue;
    }
    h2 {
        @apply font-medium;
        @apply font-bold;
    }
    h5 {
        @apply font-bold;
    }
    p {
        @apply font-normal;
        @apply text-base;
    }
    .button a {
        @apply font-bold;
        @apply text-sm;
    }
    h1, h2, h3, h5 {
        @apply text-darkBlue;
    }
    .social-icons-footer {
        scale: 1.3;
        @media only screen and (max-width: 376px) {
            scale: 5;
        }
    }
    .input-failed {
        border: .0625rem solid #f25f3a;
    }
    .input-success {
        border: .0625rem solid #9095a7;
    }
}

.swiper-pagination {
    height: fit-content;
    margin-top: 9.375rem;
}

.swiper-pagination-bullet {
    border: 1px solid #f25f3a;
    background-color: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #f25f3a;
}

@media only screen and (min-width: 700px) {
    .swiper-pagination {
        display: none;
    }
}


/************************ IMAGES ************************/

body {
    background-image: url('../src/img/bg-tablet-pattern.svg');
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: 120% -15%;
}

#features {
    background-image: url('../src/img/bg-tablet-pattern.svg');
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: -10% 15%;
}

#cta-section {
    background-image: url('../src/img/bg-simplify-section-desktop.svg');
    background-size: 1705px;
    background-position: 301px -230px;
    background-repeat: no-repeat;
}

#cta-section::before {
    content: "";
    background-image: url('../src/img/bg-simplify-section-desktop.svg');
    transform: rotate(45deg);
}

/************************ RESPONSIVE ************************/

@media only screen and (max-width: 376px) {
    body {
        background-position-x: 3.125rem -50%;
    }
    #cta-section {
        background-image: url('../src/img/bg-simplify-section-mobile.svg') !important;
    }
}

/************************ FONTS ************************/

/****** BE VIETNAM PRO - 400 - REGULAR ******/

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src:    url('fonts/BeVietnamPro-Regular.woff'), format('woff'),
            url('fonts/BeVietnamPro-Regular.woff2'), format('woff2');
    font-display: swap;
}

/****** BE VIETNAM PRO - 500 - MEDIUM ******/

@font-face {
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    src:    url('fonts/BeVietnamPro-Medium.woff'), format('woff'),
            url('fonts/BeVietnamPro-Medium.woff2'), format('woff2');
    font-display: swap;
}

/****** BE VIETNAM PRO - 700 - BOLD ******/

@font-face {
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-style: normal;
    src:    url('fonts/BeVietnamPro-Bold.woff'), format('woff'),
            url('fonts/BeVietnamPro-Bold.woff2'), format('woff2');
    font-display: swap;
}