@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
    html {
        font-family: 'Be Vietnam Pro', sans-serif !important;
    }
    h1 {
        @apply font-bold;
    }
    h2 {
        @apply font-medium;
    }
    h5 {
        @apply font-bold;
    }
    p {
        @apply font-normal;
        @apply text-base;
    }
    .button a {
        @apply font-bold;
        @apply text-sm;
    }
}

body {
    background-image: url('../src/img/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: 130% -15%;
}

@media only screen and (max-width: 376px) {
    body {
        background-position-x: 50px -50%;
    }
}

/****** BE VIETNAM PRO - 400 - REGULAR ******/

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src:    url('fonts/BeVietnamPro-Regular.woff'), format('woff'),
            url('fonts/BeVietnamPro-Regular.woff2'), format('woff2');
    font-display: swap;
}

/****** BE VIETNAM PRO - 500 - MEDIUM ******/

@font-face {
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    src:    url('fonts/BeVietnamPro-Medium.woff'), format('woff'),
            url('fonts/BeVietnamPro-Medium.woff2'), format('woff2');
    font-display: swap;
}

/****** BE VIETNAM PRO - 700 - BOLD ******/

@font-face {
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-style: normal;
    src:    url('fonts/BeVietnamPro-Bold.woff'), format('woff'),
            url('fonts/BeVietnamPro-Bold.woff2'), format('woff2');
    font-display: swap;
}